<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd">
 
 <!-- js, css, html : 웹에서 기본 제공되는 파일은 spring에서 제외시킴. -->
 <mvc:default-servlet-handler />
 
 <!-- @Component, @Controller, @Service, @Repository => 객체화  -->
 <context:component-scan base-package="controller,logic,dao,aop"></context:component-scan>
 <aop:aspectj-autoproxy /> <!-- aop관련 어노테이션 적용 -->
 <mvc:annotation-driven /> <!-- mvc 관련 어노테이션 적용 ex.@Controller,.. -->
 
 <!-- viewResolver : view 결정자 => jsp 페이지의 위치 지정 -->
 <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 	<property name="viewClass">
 		<value>org.springframework.web.servlet.view.JstlView</value>
 	</property>
 	<property name="prefix" value="/WEB-INF/view/" /> <!-- 접두사 -->
 	<property name="suffix" value=".jsp" />  <!-- 접미사 -->
 </bean>
 <!-- 파일 업로드 설정 -->
 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:maxUploadSize="104854600" p:maxInMemorySize="10485460" />
 <!-- 예외처리 설정 -->
 <bean id="exceptionHandler" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
 	<!-- exception.CartEmptyException 예외 발생 => exception.jsp 로 제어 이동 -->
 	<property name="exceptionMappings">
		<value>
			exception.CartEmptyException=exception
			exception.LoginException=exception
		</value>
	</property> 
 </bean>
 <!-- message 처리 설정 : messages.properties(기본 파일). messages_ko_KR.properties(default?)=> 이게 기본. 이거 없으면 messages.properties찾음.-->
 <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
 	<property name="basenames">
 		<list>
 			<value>messages</value>
 		</list>
 	</property>
 </bean>
</beans>